*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* list-style: none; */
}

:root
{
    --alpha-color:#ffee00;
    --alpha2-color:aqua;
    --bg-color:#02010f;
    --font-color:white;
    --sfont-color:black;
    
    --planet-border-color:#363636;
    --planet-name-scolor:aqua;
    --btn-border-color:#ffee00;
}

body
{
    min-height: 100vh;
    background: var(--bg-color);
    overflow: hidden;
}

/********* scrolling  *********/
::-webkit-scrollbar 
{
    height: .5rem;
}

::-webkit-scrollbar-track 
{
    background: #101010;
}
::-webkit-scrollbar-thumb 
{
    background-color: aqua;
    border-radius: 6px;
}

header
{
    /* border: 2px solid red; */
    padding: 1rem 2rem;
    z-index: 100;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
}

header .logo
{
   font-size: 1.5rem;
   text-decoration: none;
   color: var(--alpha-color);
   letter-spacing: .2rem;
}

/* header .logo img
{
    height: 15%;
    width: 12%;
    z-index: 5;
} */

.bg
{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.bg canvas
{
    position: absolute;
    z-index: -1;
    position: absolute;
    /* border: 2px solid red; */
    /* z-index: 1; */
    width: 100%;
    opacity: .5;
}

.first-page
{
    height: 100vh;
    width: 100%;
    display: block;
    transition: .3s linear;
    position: absolute;
    right: 0%;
}

.first-page.closeOpenFrstPage
{
    right: -100%;
    /* display: none; */
    opacity: 0;
}

.first-page .first-page-contents
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.first-page .home-planets
{
    position: absolute;
    height: 100%;
    width: 100%;
    /* border: 2px solid aqua; */
}

.home-planets .earth
{
    position: absolute;
    left: -10%;
    top: -10%;
    animation:rotate 60s linear infinite;
    z-index: 5;
    opacity: .6;
}

.home-planets .moon
{
    position: absolute;
    right: -20%;
    bottom: -25%;
    height: 40rem;
    animation:rotate 60s linear infinite;
    z-index: 5;
}

@keyframes rotate 
{
    0%{
        rotate: 0deg;
    }    
    100%{
        rotate: 360deg;
    }    
}

.first-page .website-intro
{
    /* border: 2px solid aqua; */
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-left:0rem;
    transition: .3s linear;
}

/* .first-page .website-intro.closeOpenWebsiteIntro
{
    margin-left:10rem;
    /* display: none; 
    opacity: 0;
} */

.website-intro h1
{
    font-size: 2.1rem;
    letter-spacing: .3rem;
    font-weight: 800;
}

.btn
{
    padding: .5rem 1rem;
    border-radius: 1rem;
    outline: none;
    border: 2px solid var(--btn-border-color);
    background: transparent;
    color: var(--font-color);
    box-shadow: 0rem 0rem .5rem var(--alpha-color);
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 100;
    transition: .3s linear;
    width: 8rem;
}

.btn:hover
{
    background: var(--alpha-color);
    color: var(--sfont-color);
}

/******************[[[[[[[[[[[[[[[[[[[[[[[[[[[ Second Page section    ]]]]]]]]]]]]]]]****************************/
.second-page
{
    height: 100vh;
    position: absolute;
    z-index: 10;
    width: 100%;
    right: -100%;
    /* display: none; */
    transition: .3s linear;
    opacity: 0;
}

.second-page.openCloseScndPage
{
    /* display: block; */
    right: 0%;
    opacity: 1;
}

.second-page .second-page-contents
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 0rem;
}

.second-page-contents h1
{
    color: var(--alpha-color);
    font-size: 3rem;
}

/* btn back second page starting */
.second-page-contents .backToFirstPage
{
    /* border: 2px solid red; */
    width: 90%;
}

.second-page-contents .FrstBckbtn
{
    border: 2px solid var(--alpha-color);
    padding: .7rem;
    border-radius: 50%;
    background: transparent;
    color: var(--font-color);
    cursor: pointer;
    transition: .3s linear;
}

.second-page-contents .FrstBckbtn:hover
{
    color: var(--sfont-color);
    background: var(--alpha-color);
}

.FrstBckbtn i
{
    font-size: 1.5rem; 
}

/* btn back second page ending */

.second-page-contents .planet-container
{
    min-height: 60%;
    border: 2px solid var(--alpha-color);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.planet-container .allPlanetNames
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* gap: 1rem; */
    row-gap: .8rem;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    top: 3%;
    padding: .9rem 1.8rem;
    /* border: 2px solid red; */
}

.planet-container .allPlanetNames li
{
    border: 2px solid var(--planet-border-color);
    border-radius: 1rem;
    width: fit-content;
    padding: .3rem 1rem;
    color: white;
    margin: 0rem .8rem;
    color: var(--planet-name-scolor);
    cursor: pointer;
}

/* li a
{  
    text-decoration: none;
   
} */

/* li.loading
{
    position: relative;
}

.loading::before
{
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
    z-index: 1000;
    inset: 0;
    border-radius: 1rem;
    background: linear-gradient(90deg, #c7c7c7, #585858, #8b8b8b);
    background-size:200%;
    animation: loading .5s alternate infinite;
}

@keyframes loading
{
    0%{
        background-position: 0% 200%;
    }
    100%{
        background-position: 200% -200%;
    }
} */


.planet-container .allPlanetNames li:hover
{
    color: var(--planet-name-scolor);
    box-shadow: 0rem 0rem .5rem var(--alpha2-color);
}

.second-page-contents .scndPage-Btns
{
    display: flex;
    gap: 1rem;
}

/******************[[[[[[[[[[[[[[[[[[[[[[[[[[[ Second Page section    ]]]]]]]]]]]]]]]****************************/
.third-page
{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    z-index: 100;
    gap: 2rem;
    opacity: 0;
    left: -100%;
    transition: .3s linear;
}

.third-page.OpenClosetrdPage
{
    opacity: 1;
    left: 0%;
}

.third-page #currentPlanetName
{
    color: var(--alpha-color);
    font-size: 3rem;
    font-weight: 800;
}

/* back batton start */

.third-page .backpagebtn
{
    width: 80%;
}

.backpagebtn .backBtn
{
    border: 2px solid var(--alpha-color);
    padding: .8rem;
    border-radius: 50%;
    background: transparent;
    color: var(--font-color);
    cursor: pointer;
    transition: .3s linear;
}

.backpagebtn .backBtn:hover
{
    color: var(--sfont-color);
    background: var(--alpha-color);
}

.backBtn i
{
    font-size: 1.6rem; 
}

/* back batton end  */

.third-page .current-planet-details
{
    /* border: 2px solid red; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 15rem; */
}

.current-planet-details .cp-details
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    letter-spacing: .1rem;
}

.cp-details span
{
  color: var(--alpha-color);
}

.third-page .residents
{
    width: 80%;
    height: 30%;
}

.residents .residents-container
{
    display: flex;
    justify-content: space-between;
    border: 2px solid aqua;
    height: 80%;
}

.residents-container .resident-half-details
{
    display: flex;
    gap: 2rem;
    /* border: 2px solid red; */
    width: 80%;
    overflow-x: scroll;
}

.resident-half-details .box
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: .8rem;
    gap: 1rem;
}

.box .btn 
{
    font-size: 1rem;
    /* z-index: 100; */
}

.residents-container .resident-full-details
{
    border: 2px solid aqua;
    width: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:0rem .8rem;
    /* align-items: center; */
}

.resident-full-details #current-resident-name
{
    color: var(--alpha-color);
    text-align: center;
}